.postContainer input {
    width: 310px;
    height: 40px;
    font-size: 16px;
}

.postContainer label {
    width: 310px;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 16px;
}
.postContainer img {
    width: 100%;
}

.postContainer p {
    text-align: center;
}

.postContainer {
    width: 80dvw;
    max-width: 400px;
    padding-bottom: 40px;
}

#deletePost,
#confirmEdit {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #b5b5b5;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
}

#deletePost:hover,
#confirmEdit:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

#mainContainer {
    margin: 0;
}

header {
    max-width: 400px;
    width: 80dvw;
    padding-bottom: 16px;
}
