.newPosts,
.post {
    height: auto;
    max-height: 580px;
    border: 1px solid #000;
}

.post {
    max-width: 320px;
}

.carouselContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100dvw;
}

.carouselSlide {
    width: 100%;
    max-width: 600px;
}

.newPosts img,
.posts img {
    width: 100%;
}

.newPosts h2,
.newPosts p {
    width: 100%;
    text-align: center;
}

#prevBtn,
#nextBtn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    font-size: 3.5rem;
    text-align: center;
    background: none;
    color: #fff;
    position: absolute;
}

#prevBtn {
    left: 0;
    top: 35%;
}

#nextBtn {
    right: 0;
    top: 35%;
}

#prevBtn:hover,
#nextBtn:hover {
    background: #fff;
    color: #000;
}

.positionContainer {
    display: flex;
    flex-direction: row;
    position: relative;
}

@media screen and (max-width: 540px) {
    .newPosts {
        width: 80dvw;
    }
}
