header {
    width: 400px;
}

header #goBack {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #b5b5b5;
    font-size: 16px;
    font-weight: medium;
    letter-spacing: 0.5px;
    text-align: center;
}

#goBack {
    cursor: pointer;
}

@media screen and (max-width: 430px) {
    .postContainer,
    .postContainer h2,
    .postContainer p,
    .postContainer img,
    header {
        width: 90dvw;
    }
}
